<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ref-code Testing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">    
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  <body>

<div class="container">

{% block body %}
<div class="jumbotron text-center">
  <h1>Form Validation test</h1>
</div>
  <h1>About the App</h1>
  
  {% include 'includes/_messages.html' %}
  <form class="ui form" action="/formval" method="POST" id="testform">
    <div>  
      <button class="ui button submit green inverted" id="formsubmit">Submit</button>
      <button class="ui button reset yellow" id="formreset">Reset</button>
      <button class="ui button clear red" id="formclear">Clear</button>
    </div>
    
    <div class="ui sub header">Selection of skills</div>
    <div class="ui field" id="what">    
      <select multiple="" name="max3sel" class="ui fluid normal dropdown" id="maxtag">
        <option value=""></option>
        <option value="angular">Angular</option>
        <option value="css">CSS</option>
        <option value="design">Graphic Design</option>
        <option value="ember">Ember</option>
        <option value="html">HTML</option>
        <option value="ia">Information Architecture</option>
      </select>
    </div>    

    <div class="field">
      <label>Color</label>
      <input placeholder="Enter RGB color" name="color" type="text" value="rgb(255, 255, 255)">
    </div>

    <div class="ui field">
      <div class="ui checkbox" id="cb1">
        <input type="checkbox" tabindex="0" class="hidden" name="agree" id="agree">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    

  </form> 

{% endblock %}

</div>

<script>

  $('#maxtag').dropdown({maxSelections: 3});
  $('#cb1').checkbox('empty');
    
  $('#testform')
    .form({
      inline : true,
      on:'change',
      fields: {
        agree: {
          identifier: 'agree',
          rules: [
            { type   : 'checked',
              prompt : 'Please accept the conditions!'
            }
          ]
        },
        maxtag : {
          identifier: 'maxtag',
          rules: [
            { type   : 'minCount[1]',
              prompt : 'Please select at least one skill (max 3)'
            }
          ]
        },
        color : {
          identifier: 'color',
          rules: [
            { type   : 'regExp',
              prompt : 'Enter a colour in RGB format eg rgb(255,255,255)',
              value: /rgb\((\d{1,3}),\s(\d{1,3}),\s(\d{1,3})\)/i
            }
          ]
        }        
      }
    });

  //form validation
  $('#formsubmit').form('submit');// submit
  $('#formreset').form('reset');// will return all form values to their default value. The value the form fields were set when the page loaded.
  $('#formclear').form('clear');// will remove all values from form fields and reset dropdowns to placeholder text

</script>

</body>
</html>