{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron text-center">
  <h1>Form test</h1>
</div>
  <h1>About the App</h1>
  

{# http://lasthash.blogspot.com/2015/05/dynamically-populating-dropdown-in.html #}

<form action="/formdynamic" method="POST">
  <div>  
    <a href="/formdynamic"><input class="ui button grey" type="submit"></a>
  </div>

  {% for i in eventsd %}
     {{i}}
     {% endfor %}

<div class="ui sub header">Single</div>
<div class="field required"> 
  <select name="onesel" class="ui fluid search dropdown"  id="d1clear">
    <option value="">Skills</option>
    <option value="angular">Angular</option>
    <option value="css">CSS</option>
    <option value="design">Graphic Design</option>
    <option value="ember">Ember</option>
    <option value="html">HTML</option>
    <option value="ia">Information Architecture</option>
  </select>
</div>

<div class="ui sub header">Multiple</div>
<div class="field">
  <select multiple="" name="multsel" class="ui fluid normal dropdown"  id="d2clear">
    <option value="angular">Angular</option>
    <option value="css">CSS</option>
    <option value="design">Graphic Design</option>
    <option value="ember">Ember</option>
    <option value="html">HTML</option>
    <option value="ia">Information Architecture</option>
  </select>
</div>  
</form>


{#
<!-- 
<form name="schema_selection" action="{{ url_for('formdynamic')}}" method='POST'>
  <select name="schema"> 
    {% if(schema)%} 
    <option value="{{ schema }}">{{schema}}</option> 
    {% else %} 
    <option selected="selected" value="default">Select a schema</option> 
    {% endif %} 
      {% for schema in schemas %}
        <option value="{{schema.table_schema}}">{{schema.table_schema}}</option> 
      {% endfor %}  
    </select>
    <button type="submit">Get Tables</button>
    {% if(tables) %} 
    <select name="table"> 
      {% for table in tables %} 
      <option value="{{ table.table_name }}">{{ table.table_name }}</option>   
      {% endfor %} 
    </select>
    {% endif %}

  </form> -->
  #}

  {% endblock %}
