{% extends 'layout.html' %}

{% from "includes/_formhelpers.html" import render_field %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Form Validation test</h1>
</div>
  <h1>About the App</h1>
  


  <!-- <form action="/formval" method="POST">
    <div>  
      <a href="/formval"><input class="ui button grey" type="submit"></a>
    </div>
    
    <div class="form-group">{{ render_field(form.title, class_="form-control") }}</div>
    <div class="form-group">{{ render_field(form.code, class_="form-control") }}</div>
    <div class="form-group">{{ render_field(form.agree, class_="form-control") }}</div>    

  </form>   -->


  <form class="ui form" action="/formval" method="POST" id="testform">
    <div>  
      <a href="/formval"><input class="ui button grey" type="submit"></a>
      <button class="ui button" type="submit">Submit</button>
      <button class="ui button" type="reset" id="formreset">Reset</button>
      <button class="ui button" type="clear" id="formclear">Clear</button>
    </div>
    

    <div class="field">{{ render_field(form.title, class_="form-control") }}</div>
    <div class="field">{{ render_field(form.code, class_="form-control") }}</div>
    <div class="field">{{ render_field(form.colour, class_="form-control") }}</div>        
    <div class="field">{{ render_field(form.agree, class_="form-control") }}</div>   
    
    <div class="ui sub header">Selection of skills</div>
    <div class="ui field">    
      <select multiple="" name="max3sel" class="ui fluid normal dropdown"  id="maxtag">
        <option value="">Skills</option>
        <option value="angular">Angular</option>
        <option value="css">CSS</option>
        <option value="design">Graphic Design</option>
        <option value="ember">Ember</option>
        <option value="html">HTML</option>
        <option value="ia">Information Architecture</option>
      </select>
    </div>    
  


    <div class="field">
      <div class="ui checkbox" id="cb1">
        <input type="checkbox" tabindex="0" class="hidden" >
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <div class="ui error message"></div> 

  </form> 


{% endblock %}

