{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Icons test</h1>
</div>
  <h1>About the App</h1>
  

<div class="ui segment">
  
    <i class="ui icon huge {{a|icon_fmt}}"></i>
    <i class="ui icon huge {{b|icon_fmt}}"></i>
    <i class="ui icon huge {{c|icon_fmt}}"></i>
    <i class="ui icon huge {{x|icon_fmt}}"></i>
    <i class="ui icon huge {{y|icon_fmt}}"></i>
    <i class="ui icon huge {{z|icon_fmt}}"></i>
</div>  

<div class="ui segment">

  <i class="huge icons">
    <i class="puzzle icon"></i>
    <i class="top left corner add icon"></i>
  </i>
  <i class="huge icons">
    <i class="puzzle icon"></i>
    <i class="top right corner add icon"></i>
  </i>
  <i class="huge icons">
    <i class="puzzle icon"></i>
    <i class="bottom left corner add icon"></i>
  </i>
  <i class="huge icons">
    <i class="puzzle icon"></i>
    <i class="bottom right corner add icon"></i>
  </i>
  <i class="huge icons">
      <i class="big red dont icon"></i>
      <i class="black user icon"></i>
    </i>

</div>
<div class="ui segment">
    <i class="ui huge icons">
        <i class="ui icon pink hand point right outline"></i>
        <i class="ui top right corner database icon blue"></i>
      </i>
</div>
<div class="ui segment">
  <p>This is a list of printed out python variables</p>
  <p> __name__ = {{a}}</p>
  <p> __file__={{b}}</p>

</div>



{% endblock %}
