{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Popup test</h1>
</div>
  <h1>About the App</h1>
  
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="top left">
    Top Left
  </div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="top center">
    Top Center
  </div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="top right">
    Top Right
  </div>
  <div class="ui divider"></div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="bottom left">
    Bottom Left
  </div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="bottom center">
    Bottom Center
  </div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="bottom right">
    Bottom Right
  </div>
  <div class="ui divider"></div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="right center">
    Right Center
  </div>
  <div class="ui button" data-inverted="" data-tooltip="Add users to your feed" data-position="left center">
    Left Center
  </div>

{% endblock %}
