<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ref-code Testing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">    

  </head>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
  <script src="../static/js/tablesort.js"></script>
  <script>
    $(document).ready(function(){ $('#sorttable').tablesort() });
  </script>
  <body>

<div class="ui container">

<div class="ui segment teal inverted center aligned placeholder">
  <h1>MYSQL test</h1>
</div>
  <h1>About the App</h1>
  
<div class="ui segment">
  <div class="ui grid">
      <div class="ten wide column">

        <table class="ui sortable celled table" id="sorttable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>No Action</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td class="positive">Approved</td>
              <td class="warning">Requires call</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td class="negative">Denied</td>
              <td>None</td>
            </tr>
          </tbody>
          <tfoot>
            <tr><th>3 People</th>
            <th>2 Approved</th>
            <th></th>
          </tr></tfoot>
        </table>

      </div>
  </div>
</div>    
</div>
</body>
</html>
