{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Tab test</h1>
</div>
  <h1>About the App</h1>
  
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
    First
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    Second
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    Third
  </div>

{% endblock %}
