{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Tags+Dropdown test</h1>
</div>
  <h1>About the App</h1>
  
  <div class="ui button" id="tagclear">Clear</div>

  <form action="/tags" method="POST">
  
  <div class="ui sub header">Selection</div>
  <div class="ui field">    
    <select multiple="" name="max3sel" class="ui fluid normal dropdown"  id="maxtag">
      <option value="">Skills</option>
      <option value="angular">Angular</option>
      <option value="css">CSS</option>
      <option value="design">Graphic Design</option>
      <option value="ember">Ember</option>
      <option value="html">HTML</option>
      <option value="ia">Information Architecture</option>
      <option value="javascript">Javascript</option>
      <option value="mech">Mechanical Engineering</option>
      <option value="meteor">Meteor</option>
      <option value="node">NodeJS</option>
      <option value="plumbing">Plumbing</option>
      <option value="python">Python</option>
      <option value="rails">Rails</option>
      <option value="react">React</option>
      <option value="repair">Kitchen Repair</option>
      <option value="ruby">Ruby</option>
      <option value="ui">UI Design</option>
      <option value="ux">User Experience</option>
    </select>
  </div>      

    <div class="ui sub header">Tag entry</div>
    <div class="ui right labeled left icon input" id="tagname">
      <i class="tags icon"></i><input type="text" placeholder="Enter tags" name="tag" value="tag"><a class="ui tag green label">Add Tag</a>
    </div>

  <div class="ui sub header">Single</div>
  <div class="field">
    <select name="onesel" class="ui fluid search dropdown"  id="d1clear">
      <option value="">Skills</option>
      <option value="angular">Angular</option>
      <option value="css">CSS</option>
      <option value="design">Graphic Design</option>
      <option value="ember">Ember</option>
      <option value="html">HTML</option>
      <option value="ia">Information Architecture</option>
      <option value="javascript">Javascript</option>
      <option value="mech">Mechanical Engineering</option>
      <option value="meteor">Meteor</option>
      <option value="node">NodeJS</option>
      <option value="plumbing">Plumbing</option>
      <option value="python">Python</option>
      <option value="rails">Rails</option>
      <option value="react">React</option>
      <option value="repair">Kitchen Repair</option>
      <option value="ruby">Ruby</option>
      <option value="ui">UI Design</option>
      <option value="ux">User Experience</option>
    </select>
  </div>

  <div class="ui sub header">Multiple</div>
  <div class="field">
    <select multiple="" name="multsel" class="ui fluid normal dropdown"  id="d2clear">
      <option value="angular">Angular</option>
      <option value="css">CSS</option>
      <option value="design">Graphic Design</option>
      <option value="ember">Ember</option>
      <option value="html">HTML</option>
      <option value="ia">Information Architecture</option>
      <option value="javascript">Javascript</option>
      <option value="mech">Mechanical Engineering</option>
      <option value="meteor">Meteor</option>
      <option value="node">NodeJS</option>
      <option value="plumbing">Plumbing</option>
      <option value="python">Python</option>
      <option value="rails">Rails</option>
      <option value="react">React</option>
      <option value="repair">Kitchen Repair</option>
      <option value="ruby">Ruby</option>
      <option value="ui">UI Design</option>
      <option value="ux">User Experience</option>
    </select>
  </div>  

  <div>
    <a href="/tags"><input class="ui button grey" type="submit"></a>
  </div>
  
</form>  

{% endblock %}
