{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Webhook testing</h1>
  <p class="lead">This web page tests web hook deliveries from github/jira/box</p>
  {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  {% endif %}
</div>
  <h1>Below are the results of the webhook payload</h1>
  <div class="ui segment green">
    {{y}}
  </div>
  <div class="ui segment red">
    jira webhook goes here
  </div>
  <div class="ui segment blue">
    box webhook goes here
  </div>

{% endblock %}
