{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Webhook testing</h1>
  <p class="lead">This web page tests web hook deliveries from github/jira/box</p>
  {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  {% endif %}
</div>
  <h1>Below are the results of the webhook payload</h1>
  <div class="ui segment green">
    <div class="ui image label">{{x}} Pinged at {{ping}}
      <i class="delete icon"></i>
    </div>


    <div class="ui feed">

      {% for ping in y %}
          <div class="event">
            <div class="label">
              <img class="small" src="/static/images/fozzie.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">Elliot Fu</a> added you as a friend
                <div class="date">{{ping|humanize}}</div>
              </div>
              <div class="extra text">{{x}}</div>
              <div class="meta"><a class="like"><i class="like icon"></i> 4 Likes</a></div>
            </div>
          </div>
      {% endfor %}

    </div>
    <hr>
    {{y}}
  </div>
  <div class="ui segment red">
    jira webhook goes here
  </div>
  <div class="ui segment blue">
    box webhook goes here
  </div>

{% endblock %}
